
/*  Body */
html{
}

body{
    margin:0;
    padding:0;
    background-image: linear-gradient(#332A6C,#974D39);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white !important;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-family: 'Open Sans Bold', sans-serif;
}

.mapBG{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-image: url('./../img/mapBG.png');
    background-repeat: no-repeat;
    background-attachment: fixed !important;
    max-width: 100%;
    margin: auto;
    overflow: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

#wrappermap{
    width:100%;
}

.menu-ui a {
    background:rgba(0, 0, 0, .1);
    position: relative;
    top:10%; 
    left:45%;
    text-overflow:ellipsis;
    font-family: 'Open Sans Bold', sans-serif;
    font-size: 14px;
    -webkit-appearance: none;
    display:inline-block;
    vertical-align: middle;
    z-index:1;
    margin-top: 5px;
    margin-bottom:5px;
    padding:15px;
    border-radius: 15px;
    text-align:center;
    margin-left:-1px;
    margin-right:-1px;
}


/* Div */
#divHeader {
    height:100px;
}

#divFooter, #divPush {
    height: 100px; /* Push must be same height as footer */
    clear : both;
}


/*  Font Family */
h1, h2, h3, h4, h5, h6, p, label, .btn, a {
    font-family:"Helvetica";
}

.dygraph-legend{
    color:black !important;
}

.content {
    padding-top: 50px;
}
.jumbotron {
    margin-top: 10%;
    background-color: rgba(51, 42, 108,0.5) !important;
    color: white;
}
.nav, .navbar, .navbar-default > a {
    color:white !important;
    border: 0 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    text-shadow: none !important;
    margin: 0 ;
    margin-bottom: 5px;
}
.nav, .navbar, .navbar-default {
    padding: 0;
    padding-left: 5%;
    padding-right: 5%;
}
.navbar-default {
    background: transparent;
}
.navbar a {
    align:middle;
    color:white;
    text-decoration: none;
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    box-sizing: border-box;
    outline: none;
}

a.nav-link {
    padding-right:20px !important;
}

a {
    color:white;
}
a:hover {
    color:#cccccc;
    text-decoration:none !important;
}

.table-hover tr:hover{
    background-color: rgba(51, 42, 108,0.5) !important;
}

.table-hover a:hover{
    color:#dcafa3 !important;
}

.jumbotron a {
    text-decoration: underline;
}

#myStations {
    padding-top: 60px !important;
    padding-left: 7% !important; 
    padding-right: 7% !important;
    z-index:1 !important;
    text-color: #cccccc !important;
}

.nomStation {
    margin-left: 0;
    color: #332A6C;
    font-weight: bold;
}

.pageWrapper {
    padding-top: 40px;
    height: 100%;
    /* padding-left: 5%;  */
    /* padding-right: 5%; */
}

#graphdiv {
    background-color: rgba(255,255,255,0.3);
}

.ficheStation{
    color: #332A6C;
    background-color: rgba(255,255,255,1);
}


/* SIDEBAR */
.sidebar{
    position: fixed;
    top: 41px;
    bottom: 0;
    left: 0;
    padding: 20px;
    z-index:1000;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    padding-left: 0;
    padding-right: 0;
}
.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}
a.aside.nav-link{
    color: black;
}
.sidebar .nav-link {
    border-radius:0;
    display: block;
    padding: .5em 1em
}
.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
    background-color: #332A6C;
}

/* -------- */


a.brand {color: #fff !important}
.navbar-form .input-group {width: 70%;}.navbar-form .input-group .input-group-addon, .navbar-form .input-group .input-group-btn {width: 1px;}
.navbar-form .input-group .form-control {width: 100%;}

.dernierVelo, .myAddress {
    font-size: 18px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
    margin-top: 0px;
    color: #332A6C;
}


/* SLIDER MAP */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:#332A6C ;
  -webkit-transition: .4s;
  transition: .4s;
}


.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #974D39;
}

input:focus + .slider {
  box-shadow: 0 0 1px #974D39;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

