doctype html
html
head    
include includes/head.pug
body
div(class='mapBG')
        include includes/navbar.pug

        div(class='container')
                div(class='content')
                        div(class='jumbotron')
                                h1 About enSelle
                                p enSelle is an open-source project aiming at forecasting bikes in Paris using machine-learning techniques.
                                p Code is on <a href="http://github.com/louisdecharson/enselle">Github</a>.

include includes/footer.pug
