doctype html
html
head    
include includes/head.pug
body
div(class='mapBG')
        include includes/navbar.pug

        div(class='container')
                div(class='content')
                        div(class='jumbotron')
                                div(class='row')
                                        div(class='col-md-3 col-sm-6')
                                                img(width="170" height="170" alt="logo" src="./public/img/icon.png" style="margin-top:-20px;")
                                        div(class='col-md-9 col-sm-6')
                                                h1 enSelle
                                                p enSelle est un bot Messenger qui vous indique le nombre de vélos à côté de chez vous.
                                                a(href="https://m.me/ensellebot")
                                                        button(class='fbs-button') Send Message
include includes/footer.pug
