doctype html
html
head    
include includes/head.pug
body
div(class='mapBG')
        include includes/navbar.pug

        div(class='container')
                div(class='content')
                        div(class='jumbotron')
                                h1 enSelle
                                p Sick of shared bikes' shortage ? We use the most advanced machine learning techniques to forecast available bikes in bike stations. <strong>In Real Time</strong>.
                                i Available soon in Paris
                                hr
                                p En panne de vélib ? enSelle prédit en temps réel le nombre de vélos à chaque station au cours des prochaines heures.
                                i Bientôt disponible


include includes/footer.pug
