// BOOTSTRAP 4
div(style="display:inline-bloc")
        a(style="position:absolute; margin-left:1%; bottom:1%; font-size:80%; color:white;" href="http://github.com/louisdecharson") Credits: @LouisdeCharson
script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous")

// enSelle
script(type='text/javascript' src='/public/js/enselle.js')
