// META
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name='viewport' content='width=device-width, initial-scale=1')
meta(name='description' content='enSelle - bike predictor')
meta(name='author' content='enSelle')

link(rel='shortcut icon' href='favicon.ico')
title enSelle

// Scripts & Stylesheets
script(type='text/javascript' src='./../bower_components/jquery/dist/jquery.min.js')
link(rel='stylesheet' href='./../bower_components/bootstrap/dist/css/bootstrap.min.css', type='text/css')
script(type='text/javascript' src='./../bower_components/bootstrap/dist/js/bootstrap.min.js')
link(rel='stylesheet' type='text/css' href='css/enSelle.css')
