div(class='mapBG')
nav(class='navbar navbar-default navbar-fixed-top' role='navigation')
        div(class='container')
                div(class='navbar-header')
                        button(type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controles='navbar')
                                span(class='sr-only') Toggle navigation
                                span(class="icon-bar")
                                span(class="icon-bar")
                                span(class="icon-bar")
                        a(class='navbar-brand' href='/')
                                span
                                        img(src='img/logo.png' alt='logo' width='30' align='middle')
                                        |  enSelle
                                span
                div(class='navbar-collapse collpase' id='navbar')
                        ul(class='nav navbar-nav navbar-left')
                                li
                                        a(class='navbar' href='/about.html') About
                                li
                                        a(class='navbar' href='/stations/') Stations
                                li
                                        a(class='navbar' href='/map') Map
                        ul(class='nav navbar-nav navbar-right')
                                li
                                        a(class='navbar' href='mailto:hello@enselle.io?Subject=Hi%20enSelle') Contact
                                li
                                        a(class='navbar' href='http://api.enselle.io') API
