nav(class='navbar navbar-toggleable-md fixed-top' role='navigation')
        button(class='navbar-toggler navbar-toggler-right hidden-lg-up collapsed' type='button' data-toggle='collapse' data-target='#myNavbar' aria-controls='myNavbar' aria-expanded="false" aria-label="Toggle navigation")
                span(class='navbar-toggler-icon')
        a(class='navbar-brand' href='/')
                span
                        img(src='/public/img/logo.png' alt='logo' width='30' align='middle')
                        |  enSelle
                span
        div(class='navbar-collapse collapse' id='myNavbar' aria-expanded='false')
                ul(class='navbar-nav navbar-left mr-auto')
                        li(class="nav-item active")
                                a(class='nav-link' href='/about') About
                        li(class="nav-item active")
                                a(class='nav-link' href='/stations') Stations
                        li(class="nav-item active")
                                a(class='nav-link' href='/map') Map
                ul(class='navbar-nav navbar-right')
                        li(class="nav-item active")
                                a(class='nav-link' href='mailto:hello@enselle.io?Subject=Hi%20enSelle') Contact
                        li(class="nav-item active")
                                a(class='nav-link' href='http://api.enselle.io') API
